@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

@font-face {
    font-family: "shakespeare";
    src: url("./assets/shakespeare.ttf");
    font-family: "notMyType";
    src: url("./assets/notMyType.otf");
}

/* adds text animation -nate */
@keyframes glitch {

    2%,
    64% {
        transform: translate(5px, 0) skew(1deg);
    }

    4%,
    60% {
        transform: translate(-5px, 1) skew(4deg);
    }

    62% {
        transform: translate(2px, 0) skew(8deg);
    }
}

:root {
    --text-primary: #000;
    --bgPrimary: #fff;
    --bgSecondary: #F9F9F9;
    --pink: #0071bd;
    --light-blue: #e6f7ff;
    --border: #d9d9d9;
}

html,
body {
    box-sizing: border-box;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.anim {
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background-color: black;
}

#invisibleDiv {
    height: 200px;
}

a:hover {
    color: var(--pink) !important;
}

.app {
    display: flex;
    overflow: hidden;
}

::-webkit-scrollbar {
    display: none;
}

.logo-container {
    background-color: #001529;
    display: flex;
    padding: 20px;
    align-items: center;
    width: 100%;
}

.logo {
    margin: 0 0 0 15px;
}

.logo a {
    color: white;
}

.menu-control-container {
    display: none !important;
    position: absolute !important;
    right: 10px !important;
    top: 25px !important;
    font-size: 1.2rem !important;
    background-color: var(--bgSecondary) !important;
    border: none !important;
}

.loader {
    height: 81vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* nate's css start */

#canvas {
    position: absolute;
}

#homeBody {
    height: 100vh;
    display: flex;
    align-content: center;
    position: relative;
    z-index: 1;
}

#homeCard {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(-100deg, #845EC2, #0081CF);
    color: #4B4453;
}

.homeTitle {
    font-size: 2.4rem;
    font-weight: bolder;
    position: relative;
    color: #845EC2;
    text-shadow: #FEFEDF 1px 0 5px;
    animation: glitch 2s linear infinite;
}



/* Jeremy's CSS */

.each-fade {
    position: relative;
    width: 100%;
    z-index: 999;
    height: 100%;
}

.each-fade>div {
    z-index: 998;
    width: 100%;
    display: flex;
    justify-content: center;
}

.each-fade>div img {
    width: 350px;
    height: 380px;
    margin: 0px auto;
    z-index: 998;
    object-fit: cover;
}

.each-fade p {
    width: 25%;
    font-size: 1em;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    z-index: 999;
    margin: 0;
    background: #adceed;
}

.footer {
    background-color: #001529;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;

    @media (max-width: 860px) {
        display: none;
    }
}